@charset "utf8";

*{
    padding: 0%;
    margin: 0%;
     font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #ffefd4;
}

.header{
    width: 1681px;
    height: 152px;
    background-color: #9b3535;
    margin-left: 500px;
    margin-inline-start: -160px;
}

.aside{
    width: 170px;
    height: 1100px;
    background-color: #bb3e3e;
    margin-top: -187px;
}

.logo{
    position: relative;
    width: 150px;
    height: 120px;
    bottom: 1230px;
    margin-left: 12px;
    border-radius: 10px;
}

.h1{
    position: relative;
    margin-inline-start: 500px;
    background-color:#9b3535;
    top: -100px; 
    color: aliceblue;
}

.barra{
    display:flex;
    gap: 10px;
    flex-direction: column;
    background-color:#bb3e3e;
    margin-top: 150px;
    color: white;
}

.happy{
    background-color:#750202;
    border-radius: 10px;
    padding: 10px 32px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 25px;
}

.pacotes{
     background-color:#750202;
     border-radius: 10px;
     padding: 10px 50px;
     margin: auto;
}

.promo{
     background-color:#750202;
     border-radius: 10px;
     padding: 10px 38px;
     margin: auto;
}

.passagens{
     background-color: #750202;
     border-radius: 10px;
     padding: 10px 39px;
     margin: auto;
}

.hospedagens{
     background-color:#750202;
     border-radius: 10px;
     padding: 10px 29px;
     margin: auto;
}

.mais{
     background-color:#750202;
     border-radius: 10px;
     padding: 10px 62px;
     margin: auto;
}

.link{
    text-decoration: none;
    background-color:#750202;
    color: white;
}

.container{
    display: flex;
    margin-left: 200px;
    gap: 20px;
    margin-top: -800px;
    margin-bottom: 100px;
}

.mace{
    display: flex;
    background-color: #d8b77f;
    padding: 40px 10px;
    margin: auto;
    margin-top: -200px;
}

.maceimg{
    max-width: 50%;
    min-width: 70%;
    max-height: 70%;
    min-height: 20%;
    margin-left: 50px;
    border-radius: 20px;
}

.servia{
    background-color: #d8b77f;
    padding: 50px;
    margin-bottom: 200px;
    margin-top: -200px;
}

.serimg{
    max-width: 90%;
    min-width: 40%;
    height: 70%;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 20px;
    
}

.grecia{
     background-color: #d8b77f;
    padding: 50px;
    margin-top: -200px;
}

.greimg{
    max-width: 70%;
    min-width: 50%;
    height: 40%;
    margin-left: 100px;
}